:root {
    --primary-color: #13b6ab;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 120px;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 0.3rem;
    margin: 13px 10px;
    position: relative;
    border-radius: 5px;
}

.card__title__category {
    font-weight: 400;
    text-align: center;
}

.image__container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.image__container img {
    width: 100%;
    object-fit: cover;
}